h1 {
    background-color: black;
    color: aqua;
}
span {
    color: white;
}
h2 {
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    
}
h3 {
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
}