.nav {
    background-color: tomato;
    font-family: 'Roboto', sans-serif;
}
.nav-links {
    display: flex;
    justify-content: end;
    padding: 20px;
    margin: 0px auto;   
}
.nav-title {
    margin: 20px;
    position: absolute;
    padding: 10px;
    color: whitesmoke;
}
li {
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
}
a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}
.btn {
    font-size: larger;
    background-color: whitesmoke;
    border-radius: 40px;
    width: 120px;
    height: 29px; 
    box-shadow: 5px 5px;
    
}